# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [5]:
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")
print(drinks)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]

### Step 4. Which continent drinks more beer on average?

In [11]:
print(df.groupby("continent")["beer_servings"].mean())

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [16]:
groupby = df.groupby("continent")
for name, group in groupby:
    print(name, " mean, std, median")
    print(group["wine_servings"].mean())
    print(group["wine_servings"].std())
    print(group["wine_servings"].median())

AF  mean, std, median
16.264150943396228
38.8464189733584
2.0
AS  mean, std, median
9.068181818181818
21.667033931944488
1.0
EU  mean, std, median
142.22222222222223
97.42173756146494
128.0
OC  mean, std, median
35.625
64.55578982554547
8.5
SA  mean, std, median
62.416666666666664
88.62018888937148
12.0

### Step 6. Print the mean alcoohol consumption per continent for every column

In [17]:
print(df.groupby("continent")["total_litres_of_pure_alcohol"].mean())

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcoohol consumption per continent for every column

In [ ]:
print(df.groupby("continent")["total_litres_of_pure_alcohol"].median())

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [18]:
print(df["spirit_servings"].mean(),df["spirit_servings"].min(),df["spirit_servings"].max())

80.99481865284974 0 438